@import "tailwindcss";

:root {
   --background: #ffffff;
   --gradiente: linear-gradient(50deg, #eec340, #ffff95, #deac17);
}

@theme inline {
   --color-background: var(--background);
   --color-gradiente: var(--gradiente);
   --font-body: var(--font-plus-jakarta);
   --font-heading: var(--font-arsenica);
}

body {
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}
