@import "tailwindcss";

:root {
   --background: #ffffff;
}

@theme inline {
   --color-background: var(--background);
   --font-body: var(--font-plus-jakarta);
   --font-heading: var(--font-arsenica);
}



h1,
h2,
h3,
h4,
h5 {
   background: -webkit-linear-gradient(50deg, #eec340, #ffff95, #deac17);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
